 .main-container {
     padding-left: 50px;
     padding-right: 50px;
     background: url('circle.png') no-repeat -25% center,
         url('circle.png') no-repeat 125% center
 }

 .modal-detalhes {
     display: none;
     top: 50%;
     left: 50%;
     position: absolute;
     transform: translate(-50%, -50%);
     background-color: cornsilk;
 }

 .legenda-icones .icone {
     -webkit-transform: none;
     transform: none;
 }

 .legenda-icones svg {
     /* -webkit-transform: scale(0.5);
     transform: scale(0.5); */
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .legenda-icones__column {
     display: flex;
     flex-direction: column;
     align-items: left;
 }

 .legenda-icones {

     color: white;
     font-size: 0.6em;
     text-align: left;
     padding-left: 10px;
     padding-right: 10px;
 }

 .legenda-icones__grid {
     display: grid;
     grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr auto;
     align-items: center;
     justify-content: start;
     margin-left: auto;
     margin-right: auto;
     border-top: 1px solid;
 }

 .legenda-icones__row {
     display: flex;
     align-items: center;
 }

 .icone__white {
     fill: white;
     stroke: white;
 }

 .matriz-curricular {}

 .matriz-curricular__sub-container {
     background:rgb(22 26 49);
     background-size: 100% auto;
 }

 .matriz-curricular__flex {
     display: flex;
 }

 .matriz-curricular__flex-col {
     display: flex;
     flex-direction: column;
 }

 .matriz-curricular__grid {
     display: grid;
     grid-template-columns: 1fr 4fr;
     align-items: center;
     justify-content: start;
 }

 .flex--justify-center {
     justify-content: center;
 }

 .flex--align-center {
     align-items: center;
 }


 .matriz-curricular__flex--small-gap {
     gap: 0.5em;
 }

 .matriz-curricular__flex--medium-gap {
     gap: 2em;
 }